src/main/resources/obstacles.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Obstacles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Aircraft">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Obstruction" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:float" name="length"/>
                                        <xs:element type="xs:float" name="width"/>
                                        <xs:element type="xs:float" name="height"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Vehicle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Obstruction" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:float" name="length"/>
                                        <xs:element type="xs:float" name="width"/>
                                        <xs:element type="xs:float" name="height"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Debris">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Obstruction" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:byte" name="length"/>
                                        <xs:element type="xs:byte" name="width"/>
                                        <xs:element type="xs:byte" name="height"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DebrisScatter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Obstruction" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:float" name="length"/>
                                        <xs:element type="xs:float" name="width"/>
                                        <xs:element type="xs:byte" name="height"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>